/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2020, 07:58:07 PM
    Author     : vleon
*/

.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-servicios {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-compra {
    width: 100%;
}

.my-nav {
    font-size: larger;
    background-color: black;
}

.footer-address-icon {
    padding-right: 10px;
}

.div-planes {
    padding-right: 7px;
}

.card-subtit-custom {
    margin-top: 10px;
}
.tab-content {
    padding-top: 8px
}