/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2020, 08:05:06 AM
    Author     : vleon
*/

$yellow: #FFFa20;
$red:    #993629;
$green:  #247d29;

@mixin margenes($top, $bottom:0px){
    margin-bottom: $top;
    margin-top: $bottom;
} 

@mixin pad-r($padr){
    padding-right: $padr;
}

@mixin bg-color($color){
    background-color: $color;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 40px);
}

footer {
    padding: 10px 10px 0 10px;
    @include bg-color($yellow);
    @include margenes(10px,0px);
}
.card-servicios {
    flex: 1 200px;
    @include margenes(10px);
}

.btn-compra {
    width: 100%;
}

.my-nav {
    font-size: larger;
    @include bg-color($red);
}

.my-btn-bg {
    @include bg-color($green);
}

.footer-address-icon {
    @include margenes(10px);
}

.div-planes {
    padding-right: 7px;
}

.card-subtit-custom {
    margin-top: 10px;
}

.tab-content {
    padding-top: 8px
}