/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2020, 08:05:06 AM
    Author     : vleon
*/
.jumbotron {
  background-color: #FFFa20;
  color: black;
  margin-bottom: 50px;
  margin-top: 40px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #FFFa20;
  margin-bottom: 10px;
  margin-top: 0px; }

.card-servicios {
  flex: 1 200px;
  margin-bottom: 10px;
  margin-top: 0px; }

.btn-compra {
  width: 100%; }

.my-nav {
  font-size: larger;
  background-color: #993629; }

.my-btn-bg {
  background-color: #247d29; }

.footer-address-icon {
  margin-bottom: 10px;
  margin-top: 0px; }

.div-planes {
  padding-right: 7px; }

.card-subtit-custom {
  margin-top: 10px; }

.tab-content {
  padding-top: 8px; }

/*# sourceMappingURL=styles.css.map */
